<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @move.game_id %>
</p>

<p>
  <b>Player:</b>
  <%= @move.player_id %>
</p>

<p>
  <b>Square:</b>
  <%= @move.square %>
</p>

<p>
  <b>Position:</b>
  <%= @move.position %>
</p>


<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
