<div id="finished">
<h2>Current games</h2> 

<% @games.each do |game| %>
<% unless game.game_is_finished? %>
    <div><%= link_to game.name, game %></div>
    
    <div><%= link_to game.player1.name, game if game.player1 %></div>
  
    <div><%= link_to game.player2.name, game if game.player2 %></div>

<% end %>
<% end %>
</div>

<div id="current">
<h2>Finished games</h2> 


<% @games.each do |game| %>
<% if game.game_is_finished? %>
    <div class="game_name"><%= link_to game.name, game %></div>
  
    <div><%= link_to game.player1.name, game if game.player1 %></div>
 
    <div><%= link_to game.player2.name, game if game.player2 %></div>

<% end %>
<% end %>
</div>


