<h1>Listing games</h1>

<p><% if can? :create, Game %>
<%= link_to 'New Game', new_game_path %>
<% end %></p> 

<table>
  <tr>
    <th>Name</th>
    <th>Player 1</th>
    <th>Player 2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.name %></td>
    <td><%= game.player1.try(:name) %></td>
    <td><%= game.player2.try(:name) %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<% end %>
