<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Player 1:</b>
  <%= @game.player1.try(:name) %>
</p>

<p>
  <b>Player 2:</b>
  <%= @game.player2.try(:name) %>
</p>

<div id='game_container'>

  <div id='game_square'>
    <%= button_to 'move here', make_move_game_path(@game, 0) %>
  </div>
  <div id='game_square'>
    <%= button_to 'move here', make_move_game_path(@game, 1) %>
  </div>
  <div id='game_square'>
    <%= button_to 'move here', make_move_game_path(@game, 2) %>
  </div>
  <div id='game_square'>
    <%= button_to 'move here', make_move_game_path(@game, 3) %>
  </div>
  <div id='game_square'>
    <%= button_to 'move here', make_move_game_path(@game, 4) %>
  </div>
  <div id='game_square'>
    <%= button_to 'move here', make_move_game_path(@game, 5) %>
  </div>
  <div id='game_square'>
    <%= button_to 'move here', make_move_game_path(@game, 6) %>
  </div>
  <div id='game_square'>
     <%= button_to 'move here', make_move_game_path(@game, 7) %>
  </div>
  <div id='game_square'>
    <%= button_to 'move here', make_move_game_path(@game, 8) %>
  </div>

</div>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
