<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Player 1:</b>
  <%= @game.player1.try(:name) %>
</p>

<p>
  <b>Player 2:</b>
  <%= @game.player2.try(:name) %>
</p>

<%= @game.whose_turn.name %>

<div id='game_container'>

  <div id='game_square'>
    <% if @game.square_is_occupied?(0) %>
    <%= @game.moves %>
    <% else %>
    <% if can? :make_move, @game %> 
    <%= button_to 'move here', make_move_game_path(@game, 0) %>
    <% end %>
    <% end %>
  </div>
  <div id='game_square'>
    <% if @game.square_is_occupied?(1) %>
    b
    <% else %>
    <% if can? :make_move, @game %>
    <%= button_to 'move here', make_move_game_path(@game, 1) %>
    <% end %>
    <% end %>
  </div>
  <div id='game_square'>
    <% if @game.square_is_occupied?(2) %>
    c
    <% else %>
    <% if can? :make_move, @game %>
    <%= button_to 'move here', make_move_game_path(@game, 2) %>
    <% end %>
    <% end %>
  </div>
  <div id='game_square'>
    <% if @game.square_is_occupied?(3) %>
    d
    <% else %>
    <% if can? :make_move, @game %>
    <%= button_to 'move here', make_move_game_path(@game, 3) %>
    <% end %>
    <% end %>
  </div>
  <div id='game_square'>
    <% if @game.square_is_occupied?(4) %>
    k
    <% else %>
    <% if can? :make_move, @game %>
    <%= button_to 'move here', make_move_game_path(@game, 4) %>
    <% end %>
    <% end %>
  </div>
  <div id='game_square'>
    <% if @game.square_is_occupied?(5) %>
    k
    <% else %>
    <% if can? :make_move, @game %>
    <%= button_to 'move here', make_move_game_path(@game, 5) %>
    <% end %>
    <% end %>
  </div>
  <div id='game_square'>
    <% if @game.square_is_occupied?(6) %>
    k
    <% else %>
    <% if can? :make_move, @game %>
    <%= button_to 'move here', make_move_game_path(@game, 6) %>
    <% end %>
    <% end %>
  </div>
  <div id='game_square'>
    <% if @game.square_is_occupied?(7) %>
    k
    <% else %>
    <% if can? :make_move, @game %>
     <%= button_to 'move here', make_move_game_path(@game, 7) %>
     <% end %>
     <% end %>
  </div>
  <div id='game_square'>
    <% if @game.square_is_occupied?(8) %>
    k
    <% else %>
    <% if can? :make_move, @game %>
    <%= button_to 'move here', make_move_game_path(@game, 8) %>
    <% end %>
    <% end %>
  </div>

</div>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
