<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game.name %>
</p>

<p>
  <b>Player 1:</b>
  <%= @game.player1.try(:name) %>
</p>

<p>
  <b>Player 2:</b>
  <%= @game.player2.try(:name) %>
</p>

<div id='game_container'>

  <div id='game_square'>
    <%= form_tag("/make_move/:square", method: "post") do %>
    <%= hidden_field_tag(:square, "0") %>
    <%= submit_tag %>
    <% end %>
  </div>
  <div id='game_square'>
  </div>
  <div id='game_square'>
  </div>
  <div id='game_square'>
  </div>
  <div id='game_square'>
  </div>
  <div id='game_square'>
  </div>
  <div id='game_square'>
  </div>
  <div id='game_square'>
  </div>
  <div id='game_square'>
  </div>

</div>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
