<div id="sample_game">
  <div class="sample_game_field">
    <div class="xo">X</div>
  </div>
  <div class="sample_game_field">
    <div class="xo">&nbsp;</div>
  </div>
  <div class="sample_game_field">
    <div class="xo">0</div>
  </div>
  <div class="sample_game_field">
    <div class="xo">&nbsp;</div>
  </div>
  <div class="sample_game_field">
    <div class="xo">0</div>
  </div>
  <div class="sample_game_field">
    <div class="xo">&nbsp;</div>
  </div>
  <div class="sample_game_field">
    <div class="xo">X</div>
  </div>
  <div class="sample_game_field">
    <div class="xo">&nbsp;</div>
  </div>
  <div class="sample_game_field">
    <div class="xo">&nbsp;</div>
  </div>
</div>

<div id="sign_up_form">

<h1>Sign up</h1>

<p id="tagline">It's fun, free, and always will be.</p>

<%= form_for(@player) do |f| %>

<div class="field">
    <%= f.text_field :name, :placeholder => "Name" %>
  </div>
  <div class="field">
    <%= f.text_field :email, :placeholder => "Your email" %>
  </div>
  <div class="field">
    <%= f.password_field :password, :placeholder => "Your password" %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, :placeholder => "Re-enter your password" %>
  </div>
  <div>
    <%= submit_tag "Sign up", class: "signup_button" %>
  </div>
<% end %>

</div>
