<!-- profile page -->

<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @player.player_image.profile.url %>
</p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Email:</b>
  <%= @player.email %>
</p>

<p>
  <b>My games:</b>
  <% @games.each do |game| %>
  <%= link_to game.name, game %>
  <% end %>
</p>

<% if can? :edit, @player %>
<%= link_to 'Edit', edit_player_path(@player.id) %> |
<% end %>

<%= link_to 'Back', games_path %>
