<!-- profile page -->

<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @player.player_image.thumb.url %>
</p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Email:</b>
  <%= @player.email %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
